<!-- todo encapsulate into component -->
<div *ngIf="!article" class="spinner-container">
  <img
    alt="spinner"
    class="spinner"
    src="/assets/icons/spinner_icon-icons.com_71082.svg"
  />
</div>

<div class="content">
  <div *ngIf="article" class="header">
    <div *ngIf="!fullScreen">
      <h1>{{ article?.title }}</h1>
      <h2>{{ article?.excerpt }}</h2>
    </div>

    <div class="buttonRow" fxLayout="row">
      <button
        (click)="toggleActive()"
        class="toggleSrt"
        color="primary"
        mat-fab
      >
        <mat-icon *ngIf="!isRowRunnerActive">double_arrow</mat-icon>
        <mat-icon *ngIf="isRowRunnerActive">cancel</mat-icon>
      </button>
      <button
        (click)="toggleActiveFullscreen()"
        *ngIf="!isRowRunnerActive"
        class="toggleSrt"
        color="primary"
        mat-fab
      >
        <mat-icon>fullscreen</mat-icon>
      </button>
    </div>
  </div>

  <article *ngIf="!isRowRunnerActive" class="article-content" lang="de">
    <p>
      {{ this.article?.content }}
    </p>
  </article>

  <div class="animationContainer">
    <app-animation
      *ngIf="isRowRunnerActive"
      [lines]="article.content"
      [speed]="speed"
    ></app-animation>
  </div>

  <div #dummyDiv class="article-content row-runner-active dummy"></div>
</div>
