@use 'base'
@use 'spinner'

.content
  padding: 3rem 2rem 4rem 2rem

  .header
    max-width: 35rem
    margin: 0 auto

  .article-content
    min-width: 20rem
    max-width: 35rem
    margin: 0 auto
    p
      -webkit-hyphens: auto
      -moz-hyphens: auto
      -ms-hyphens: auto
      hyphens: auto

  .animationContainer
    padding-left: 20px
    padding-right: 20px

  .dummy
    position: fixed
    top: -10em
    min-width: 23rem
    max-width: 90vw
    padding: 10px
    background-color: silver
    border-radius: 11px
    box-shadow: 0 0 10px 0 black
    overflow: scroll
    white-space: nowrap

  .buttonRow
    justify-content: center

  button.toggleSrt
    margin: 0 2em 2em 2em
    align-self: center
    align-items: center
