<div class="content">
  <div class="header">
    <h1>{{ article?.title }}</h1>
    <h2>{{ article?.excerpt }}</h2>

    <div class="buttonRow" fxLayout="row">
      <button (click)="isRowRunnerActive = !isRowRunnerActive" class="toggleSrt" color="primary"
              mat-raised-button>{{ isRowRunnerActive ? 'show static text' : 'speed read' }}</button>
    </div>
  </div>

  <div *ngIf="!isRowRunnerActive" [class.row-runner-active]="isRowRunnerActive"
       class="article-content">{{ this.article?.content }}</div>

  <app-animation *ngIf="isRowRunnerActive" [lines]="lines"
                 [speed]="speed"></app-animation>

    <div #dummyDiv class="article-content row-runner-active dummy"></div>
</div>
