<app-spinner [showSpinner]="!articleList.length"></app-spinner>

<div class="content-wrapper">
  <div class="article-list" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="32px">
    <div *ngFor="let article of articleList" class="card-wrapper">
      <mat-card fxLayout="column" fxLayoutAlign="space-between">
        <div>
          <mat-card-header [routerLink]="['/rowrunner/', article.guid]">
            <h2>{{ article.title }}</h2>
          </mat-card-header>

          <mat-card-content>
            <h3>{{ article.contentSnippet }}</h3>
          </mat-card-content>
        </div>

        <mat-card-footer>
          <mat-card-actions fxLayoutAlign="space-between" fxLayout="row">
            <button [routerLink]="['/rowrunner/', article.guid]" color="primary" mat-mini-fab>
              <mat-icon>visibility</mat-icon>
            </button>
            <button [routerLink]="['/rowrunner/', article.guid, true]" color="primary" mat-mini-fab>
              <mat-icon>text_rotation_none</mat-icon>
            </button>
          </mat-card-actions>
          {{ article.pubDate | date: 'EEEE dd.MM.yyyy, hh:mm' }}
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
