.article-list
  margin: 16px 0 16px 16px
  .card-wrapper
    flex: 0 1 calc(33.3% - 48px)
    height: 270px
    margin-bottom: 32px
    overflow: hidden
    text-overflow: ellipsis
    .mat-card
      height: 230px
      cursor: pointer
      .mat-card-header
        .mat-card-header-text
          margin: 0
        h1
          max-height: 95px
          overflow: hidden
          margin-right: 8px
      .mat-card-content
        padding: 16px
        h3
          max-height: 80px
          overflow: hidden
