<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    class="sidenav"
    fixedInViewport
  >
    <mat-toolbar fxLayoutAlign="space-between center">
      <div fxLayoutAlign="start center">
        <mat-icon>bookmark</mat-icon>
        <span>Feeds</span>
      </div>
      <button mat-icon-button>
        <mat-icon (click)="drawer.toggle()">arrow_left</mat-icon>
      </button>
    </mat-toolbar>
    <div class="side-edit" fxLayoutAlign="start  center">
      <span
      ><button color="primary" mat-mini-fab>
          <mat-icon>edit</mat-icon>
        </button></span
      >
      <span
      ><button color="primary" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button></span
      >
    </div>
    <mat-nav-list class="article-list">
      <a #rla="routerLinkActive" *ngFor="let entry of navEntries" [routerLink]="['rowrunner', entry.link]"
         mat-list-item routerLinkActive="active"
      >
        <mat-icon>{{ rla.isActive ? 'remove_red_eye' : entry.icon}}</mat-icon>
        {{ entry.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row
        fxLayoutAlign="space-between center"
        fxLayout="row"
      >
        <div>
          <button
            (click)="drawer.toggle()"
            *ngIf="!drawer.opened"
            color="primary"
            mat-mini-fab
            type="button"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <button color="primary" mat-mini-fab routerLink="/" [ngClass]="{'homeButton': !drawer.opened}">
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div class="main-navigation">
          <span
          ><button color="primary" mat-mini-fab [routerLink]="['rowrunner', navEntries[0].link, true]">
              <mat-icon>visibility</mat-icon>
            </button>
          </span>
          <span
          ><button color="primary" mat-mini-fab [routerLink]="['rowrunner', navEntries[0].link, true]">
              <mat-icon>text_rotation_none</mat-icon>
            </button>
          </span>
          <span
          ><button color="primary" mat-mini-fab>
              <mat-icon>settings</mat-icon>
            </button>
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
