<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h2>InstaFeed</h2>
  <p>aka</p>
  <h1>RowRunner</h1>

  <h3>Trainiere deine SpeedReading-Skills mit deinem persönlichen Nachrichten-Feed</h3>

  <div class="welcome-nav" fxLayout="row" fxLayoutAlign="space-between">
    <button [routerLink]="['rowrunner', navEntries[0].url]" color="primary" mat-flat-button>
      <mat-icon>visibility</mat-icon>
      Lesen
    </button>
    <button [routerLink]="['rowrunner', navEntries[0].url, true]" color="primary" mat-flat-button>
      <mat-icon>text_rotation_none</mat-icon>
      Üben
    </button>
  </div>
</div>
