<!-- SIDENAV + CONTENT-->
<div class="app-sidenav">
  <mat-sidenav-container>
    <mat-sidenav
      #drawer
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false && !animationActiveService.isAnimationActive"
      [position]="(isHandset$ | async) ? 'end' : 'start'"
      class="sidenav"
      fixedInViewport
    >
      <!-- SIDENAV TOOLBAR -->
      <mat-toolbar fxLayoutAlign="space-between center">
        <span
          class="sidenav__toolbar"
          fxFlex.gt-sm="100"
          fxLayout="row"
          fxLayoutAlign="space-between"
        >
          <button
            fxHide.gt-sm="true"
            mat-icon-button
          >
            <mat-icon (click)="drawer.toggle()">arrow_right</mat-icon>
          </button>
          <span
            class="sidenav__toolbar__feed-link"
            fxLayoutAlign="start center"
            routerLink="/"
          >
            <mat-icon color="primary">bookmark</mat-icon>
            <span>Feeds</span>
          </span>
          <button fxHide.xs="true" mat-icon-button>
            <mat-icon (click)="drawer.toggle()">arrow_left</mat-icon>
          </button>
        </span>

        <button
          *ngIf="auth.user$ | async"
          (click)="drawer.close()"
          [routerLink]="['/settings/']"
          color="primary"
          fxHide.gt-xs="true"
          mat-icon-button
        >
          <mat-icon>settings</mat-icon>
        </button>
      </mat-toolbar>

      <!-- SIDENAV CONTROLS -->
      <div
        *ngIf="auth.user$ | async"
        class="side-edit"
        fxLayoutAlign="start  center"
        fxLayoutAlign.xs="end  center"
      >
        <span>
          <button (click)="toggleEditMode()" color="primary" mat-button>
            <mat-icon>edit</mat-icon>
          </button>
        </span>
        <span>
          <button (click)="toggleAddMode()" color="primary" mat-button>
            <mat-icon>add_circle</mat-icon>
          </button>
        </span>
      </div>

      <!-- SIDE NAV -->
      <mat-nav-list
        *ngIf="auth.user$ | async"
        class="feed-list"
        fxLayout="column"
        fxLayoutAlign="space-between"
      >
        <!--  FEED LIST  -->
        <ng-container *ngFor="let feed of navEntries; let i = index">
          <div fxFlex="100" fxLayoutAlign="space-between center">
            <a
              *ngIf="!isEditMode"
              #rla="routerLinkActive"
              (click)="isHandset ? drawer.close() : null"
              [routerLink]="['article', feed.url]"
              fxLayout="row"
              mat-list-item
              routerLinkActive="active"
            >
              <span fxLayoutAlign="center center">
                <mat-icon class="small-icon" color="primary">{{
                  rla.isActive ? "remove_red_eye" : feed.icon ? feed.icon : 'article'
                  }}</mat-icon>
                {{ feed.name }}
              </span>
            </a>
            <a
              *ngIf="isEditMode"
              fxLayout="row"
              mat-list-item
              routerLinkActive="active"
              (click)="openEditDialog(feed)"
            >
              <span fxLayoutAlign="center center">
                <mat-icon class="small-icon" color="primary">edit</mat-icon>
                {{ feed.name }}
              </span>
            </a>
            <button
              *ngIf="isEditMode"
              (click)="deleteFeed(feed)"
              class="remove-feed"
              color="warn"
              mat-mini-fab
            >
              <mat-icon class="remove-icon">remove_circle_outline</mat-icon>
            </button>
          </div>
        </ng-container>
        <!-- ADD FEED form -->
        <form *ngIf="isAddMode" [formGroup]="feedForm" class="add-feed">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput type="text"/>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>URL</mat-label>
            <input formControlName="url" matInput type="text"/>
          </mat-form-field>

          <span fxLayoutAlign="space-between">
            <button
              (click)="addNewFeed()"
              color="primary"
              mat-button
              type="submit"
            >
              <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button
              (click)="isAddMode = false"
              color="primary"
              mat-button
              type="submit"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </span>
        </form>
      </mat-nav-list>
    </mat-sidenav>

    <!-- SIDENAV CONTENT -->
    <mat-sidenav-content>
      <!-- HEADER TOOLBAR -->
      <div class="app-toolbar">
        <mat-toolbar
          *ngIf="!animationActiveService.isAnimationActive"
          color="primary"
        >
          <mat-toolbar-row
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div fxHide.gt-xs="">
              <a mat-button routerLink="/">
                <h1>RowRunner</h1>
              </a>
            </div>
            <div>
              <button
                (click)="drawer.toggle()"
                *ngIf="!drawer.opened"
                color="primary"
                mat-mini-fab
                type="button"
              >
                <mat-icon>menu</mat-icon>
              </button>
              <button
                *ngIf="auth.user$ | async"
                [ngClass]="{ homeButton: !drawer.opened }"
                color="primary"
                fxHide.xs="true"
                mat-mini-fab
                routerLink="/"
              >
                <mat-icon>home</mat-icon>
              </button>
            </div>
            <div *ngIf="navEntries" class="main-navigation" fxHide.xs="true">
              <button *ngIf="auth.user$ | async as user; else login" mat-raised-button class="mat-elevation-z5"
                      (click)="logout()">
                Logout
              </button>
              <ng-template #login>
                <button mat-raised-button class="mat-elevation-z5" (click)="openLoginDialog()">
                  Login/Register
                </button>
              </ng-template>

              <span *ngIf="auth.user$ | async">
                <button
                  class="main-navigation__button"
                  [routerLink]="['/rowrunner/', navEntries[0]?.url]"
                  color="primary"
                  mat-mini-fab
                >
                  <mat-icon>visibility</mat-icon>
                </button>
                <button
                  class="main-navigation__button"
                  *ngIf="auth.user$ | async"
                  [routerLink]="['/rowrunner/', navEntries[0]?.url, true]"
                  color="primary"
                  mat-mini-fab
                >
                  <mat-icon>text_rotation_none</mat-icon>
                </button>
                <button
                  class="main-navigation__button"
                  *ngIf="auth.user$ | async"
                  [routerLink]="['/settings/']"
                  color="primary"
                  mat-mini-fab
                >
                  <mat-icon>settings</mat-icon>
                </button>
              </span>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>

      <div
        *ngIf="isNavEntriesLoaded"
        [ngClass]="{
          content__static: !animationActiveService.isAnimationActive,
          content__static__handset: (isHandset$ | async) && !animationActiveService.isAnimationActive
        }"
        class="content"
      >
        <router-outlet></router-outlet>
      </div>
      <app-spinner [showSpinner]="!isNavEntriesLoaded"></app-spinner>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
