/* You can add global styles to this file, and also import other style files */
body
  margin: 0 auto
  font-family: 'Anonymous Pro', monospace
  background-color: #fafafa

.container
  padding: 10px

  .welcome
    flex-grow: 1

mat-nav-list
  .mat-list-item-content
    width: 100%
    justify-content: space-between

.content
  padding: 32px
  &__static
    height: calc(100vh - 64px - 64px)
    &__handset
      height: calc(100vh - 56px - 64px)

.mat-drawer-side
  border: none

.mat-sidenav
  box-shadow: 3px 0 10px rgba(0,0,0,0.25), 3px 64px 15px rgba(0,0,0,0.15), 3px 64px 30px rgba(0,0,0,0.12), 3px 64px 80px rgba(0, 0, 0, 0.07)
