/* You can add global styles to this file, and also import other style files */
body
  margin: 0 auto
  font-family: 'Anonymous Pro', monospace
  background-color: #fafafa
  //background-color: rgb(198, 198, 198)

.container
  padding: 10px

  .welcome
    flex-grow: 1

.content
  height: calc(100vh - 64px)
