.login-register-toolbar
  margin: -24px -24px 24px -24px
  width: calc(100% + 48px)

.login-dialog-content
  padding-bottom: 12px

.login-dialog-action
  padding-bottom: 24px
  &__button__img
    height: 2.2em
    margin-top: 9px
    margin-bottom: 9px
    margin-right: 9px
