<mat-toolbar
  class="login-register-toolbar"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  color="primary"
>
  <h2>{{ getLoginRegisterTypeName() }}</h2>
  <button mat-icon-button>
    <mat-icon aria-label="Close dialog" (click)="dialogRef.close()">close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="login-dialog-content">
  <form [formGroup]="loginRegisterForm">
    <div class="md-dialog-content">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          formControlName="email"
          matInput
          type="text"
          placeholder="disabled"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          matInput
          type="password"
          placeholder="disabled"
        >
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="login-dialog-action" fxLayout="row" fxLayoutAlign="space-between">
  <div class="login-dialog-action__button-wrapper">
    <a
      class="login-dialog-action__button"
      mat-raised-button
      color="primary"
      (click)="loginWithGoogle()"
    >
      <img class="login-dialog-action__button__img" src="assets/icons/G.png" alt="google">
      Login mit Google
    </a>
  </div>
</mat-dialog-actions>
